@import url("normalize.css");

/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

body {
    background-color: #ffe66b;
}


img,
iframe,
video {
    max-width: 100%;
}




/* -------------------- HEADINGS AND TYPE */




/* -------------------- LAYOUTS */

.layout-wide {
    
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */



/* -------------------- FOOTER */

/* -------------------- MODULES */
